{{ define "article" }}
  {{ template "top" . }}
  {{ block "article-main" . }}
    <article class="mx-auto prose w-full max-w-screen-md mt-12 mb-24">
      <h1>{{ .Article.Title }}</h1>
      <div class="flex space-x-1 items-center">
        {{ range .Article.Tags }}
          <span class="badge badge-outline"> {{ .Name }}</span>
        {{ end }}
      </div>
      {{ if .Article.ImageKey }}
        <figure>
          <img src="{{ .Article.ImageURL }}" alt="Article image" />
        </figure>
      {{ end }}
      {{ rawHTML .Article.Content }}
    </article>
  {{ end }}
  {{ template "bottom" . }}
{{ end }}
