{{ define "articles" }}
  {{ template "top" . }}
  {{ block "articles-main" . }}
    <section class="prose !w-full max-w-screen-lg mt-12 mb-24">
      <h1>Articles</h1>
      <div class="flex items-center space-x-1">
        <form
          class="col-span-1 md:col-span-2 flex space-x-2 items-center"
          hx-post="/articles/grid?page={{ .PageNumber }}"
          hx-trigger="keyup from:input[name=search] delay:500ms"
          hx-indicator="#filter-indicator"
          hx-target="#articles-grid"
        >
          {{ template "input" withAttrs
            "name" "search"
            "placeholder" "Search..."
            "class" "input-bordered"
          }}
          {{ template "spinner-indicator" "filter-indicator" }}
        </form>
      </div>
      <div
        id="articles-grid"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8"
      >
        {{ block "articles-grid" . }}
          {{ range .Articles }}
            <div class="w-full card bg-base-100 shadow-xl">
              {{ if .ImageURL }}
                <figure>
                  <img src="{{ .ImageURL }}" alt="Article image" />
                </figure>
              {{ end }}
              <div class="card-body">
                <h2 class="card-title">{{ .Title }}</h2>
                <p>{{ .Description }}</p>
                <div class="flex items-center space-x-1">
                  {{ range .Tags }}
                    <span class="badge badge-outline">{{ .Name }}</span>
                  {{ end }}
                </div>
                <div class="card-actions justify-end mt-4">
                  {{ if $.User.IsSuperuser }}
                    <a href="/editor/{{ .ID }}" class="btn btn-sm">Edit</a>
                  {{ end }}
                  <a
                    hx-get="/articles/{{ .Slug }}"
                    hx-target="main"
                    hx-push-url="true"
                    href="/articles/{{ .Slug }}"
                    class="btn btn-primary btn-sm"
                    >Read more</a
                  >
                </div>
              </div>
            </div>
          {{ end }}
          {{ if $.HasMore }}
            <div
              hx-get="/articles/grid?page={{ increment $.PageNumber 1 }}"
              hx-trigger="revealed once"
              hx-swap="outerHTML"
            ></div>
          {{ end }}
        {{ end }}
      </div>
    </section>
  {{ end }}
  {{ template "bottom" . }}
{{ end }}
