{{ define "tags" }}
  {{ template "top" . }}
  {{ block "tags-main" . }}
    <section class="w-full max-w-screen-lg mx-auto pt-12 space-y-8">
      <h1 class="text-3xl">Tags</h1>
      <form
        class="max-w-screen-sm flex flex-col space-y-2 border border-base-300 rounded-box p-4"
      >
        <h2>Add a new tag</h2>
        <div class="flex space-x-2 items-center">
          {{ template "input" withAttrs
            "name" "name"
            "placeholder" "Tag name..."
            "class" "input-sm input-bordered"
          }}
          <button type="submit" class="btn btn-sm">Add</button>
        </div>
      </form>
      <div class="flex flex-col space-y-2 w-full max-w-screen-sm">
        {{ range .Tags }}
          <div
            id="tag-{{ .ID }}"
            class="flex justify-between items-center border border-base-300 rounded-box shadow-md p-4"
          >
            <div>
              <h2>{{ .Name }}</h2>
            </div>
            <button
              class="btn btn-sm btn-error transition-colors duration-300"
              onclick="delete_tag_modal.showModal()"
            >
              Delete
            </button>
            <dialog id="delete_tag_modal" class="modal">
              <div class="modal-box">
                <p class="py-4">
                  Are you sure you want to delete the tag '{{ .Name }}'?
                </p>
                <div class="w-full modal-action justify-between">
                  <button
                    class="btn btn-sm btn-error"
                    hx-delete="/tags/{{ .ID }}"
                    hx-target="#tag-{{ .ID }}"
                    hx-swap="outerHTML"
                  >
                    Delete
                  </button>
                  <form method="dialog">
                    <button class="btn btn-sm">Close</button>
                  </form>
                </div>
              </div>
            </dialog>
          </div>
        {{ end }}
      </div>
    </section>
  {{ end }}
  {{ template "bottom" . }}
{{ end }}
